{% extends 'blog/base.html' %}

{% block content %}

<div class="post">
    <h1>About Me</h1>
    <p class="block">
        Hi there! My name is Robin. I'm a statistician turned programmer whose end goal is to practice
        data science. Despite my techincal background, I also have a major passion for writing (hence me starting
        this blog). I went 
        through multiple bouts of depression throughout my young life, at least three major episodes 
        through the span of 6 and a half years. Despite the bad times, there were moments where I was able
        to keep depression at bay.
         <br></br>
        After living with it for so long, I had 
        slowly began to realize what worked for me and what
       didn't. I'm going to try my absolute best to convey
        the things I learned in my journey coping with clinical depression: how to cope, who or where to 
        turn to, addressing the root of the issue(s). Please remember that the advice and opinions on this blog
        are my own. I am <b>NOT</b> a professional mental health expert or a doctor of anykind, just a normal guy trying
        to find and help others find their happy place. 
        
        If you would like to reach out to me personally, please feel free to email me at <i>robinphetsa@gmail.com</i>
    </p>

</div>


{% endblock %}