
body {
    padding-left: 15px;
}

.page-header {
    background-color: #36BDEB;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 45pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;

}

.block {
    font-family: 'Raleway', sans-serif;
    color: #000000 ;
    font-size: 12pt;
    border-top-style: solid;
    padding-top: 2%;
    text-indent: 50px;
}

.right{
    float:right;
    width: 80%;
}

.left{
    float:left;
}

.date {
    padding-top: 5%;
    font-size: 8pt;
}

.second_p {
    text-indent: 50px;
    font-family: 'Raleway', sans-serif;
    color: #000000 ;
    font-size: 12pt;
}

.centeritem { margin-left: auto; margin-right: auto; width: 100px; }